<div class="container my-5">
  <h2 class="mb-4">Preguntas frecuentes</h2>
  <div class="mb-2 d-flex justify-content-end sticky-top">
    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="aboutAccordion.collapseAll()"
    >
      Cerrar todo
    </button>
  </div>
  <ngb-accordion #aboutAccordion>
    <ngb-panel id="static-1" title="First">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Second">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Third">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title="Fourth">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-5">
      <ng-template ngbPanelTitle>
        <span>Fifth</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-6" title="Sixth">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-7" title="Seventh">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-8" title="Eighth">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-9" title="Nineth">
      <ng-template ngbPanelContent>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum magni
        delectus iste dignissimos eos exercitationem! Ab nesciunt alias quas
        magni, error fugiat doloremque, unde, voluptatum atque quasi architecto
        porro vero.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
