.about-section {
  font-family: "Nunito", sans-serif;
  color: #38485c;

  .about-title {
    font-weight: 700;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #e6ebf0;
    margin-bottom: 3rem;
  }
}
