<app-cover></app-cover>
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <app-card
        title="Desarrollo Eficiente"
        description="Una infraestructura de backend diseñada para agilizar el proceso de desarrollo de proyectos."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        title="Información Accesible"
        description="Simplificamos el acceso a datos en proyectos y activos digitales vinculados con la Ciudad de Buenos Aires."
      ></app-card>
    </div>
    <div class="col">
      <app-card
        title="Enfoque en la Innovación"
        description="Gestionamos la información para que puedas concentrarte en la innovación y creación de soluciones."
      ></app-card>
    </div>
  </div>
</div>
