<div class="home-container">
  <div class="home-header">
    <div class="logo-box">
      <img
        class="logo"
        src="/assets/app-cuate.svg"
        alt="Ciudad de buenos aires"
      />
    </div>
    <div class="content-box">
      <h1>Obelisco-back</h1>
      <h2 class="text-secondary">
        La plataforma de documentación para el Backend API de Obelisco
      </h2>
      <p class="lead">
        Explora el Backend API del Gobierno de la Ciudad de Buenos Aires con
        Obelisco-back. Accede fácilmente a endpoints que proporcionan
        información actualizada sobre diversos aspectos de la vida en la ciudad.
      </p>
      <p class="lead">
        Simplifica tu desarrollo y crea aplicaciones innovadoras con datos
        confiables y accesibles.
      </p>
      <div class="home-buttons">
        <a class="btn btn-primary" routerLink="/docs">Comenzar</a>
        <a class="btn btn-secondary" routerLink="/about">Más</a>
      </div>
      <p class="home-version">Actualmente en v1.0.0</p>
    </div>
  </div>
  <div class="home-description">
    <div class="card-deck max-cards-3">
      <o-card>
        <ng-container *oCustomContent>
          <i class="bx bxs-devices card-icon"></i>
          <h3 class="card-title">Desarrollo Eficiente</h3>
          <p class="card-text">
            Una infraestructura de backend diseñada para agilizar el proceso de
            desarrollo de proyectos.
          </p>
        </ng-container>
      </o-card>
      <o-card>
        <ng-container *oCustomContent>
          <i class="bx bxs-universal-access card-icon"></i>
          <h3 class="card-title">Información Accesible</h3>
          <p class="card-text">
            Simplificamos el acceso a datos en proyectos y activos digitales vinculados con la Ciudad de Buenos Aires.
          </p>
        </ng-container>
      </o-card>
      <o-card>
        <ng-container *oCustomContent>
          <i class="bx bx-paper-plane card-icon"></i>
          <h3 class="card-title">Enfoque en la Innovación</h3>
          <p class="card-text">
            Gestionamos la información para que puedas concentrarte en la innovación y creación de soluciones.
          </p>
        </ng-container>
      </o-card>
    </div>
  </div>
</div>
<o-footer>
  <ng-container *oCustomContent>
    <h2 class="sr-only">Navegación de pie de página</h2>
    <div class="container">
      <section class="footer-legal-section">
        
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-xl-4 footer-content-img">
            <img
              class="d-lg-none"
              src="https://gcba.github.io/Obelisco/footer/ciudad-ba-sm.svg"
              alt="Logo de Ciudad de Buenos Aires"
              height="48"
            />
            <img
              class="d-none d-lg-inline"
              src="https://gcba.github.io/Obelisco/footer/ciudad-ba.svg"
              alt="Logo de Ciudad de Buenos Aires"
              height="40"
            />
            <img
              class="img-vamos-ba"
              src="https://gcba.github.io/Obelisco/footer/vamos-ba.svg"
              alt="Logo de Vamos Buenos Aires"
            />
          </div>
        </div>
      </section>
      <p class="mb-1">
        <small>
          Diseñado y construido por el equipo de
          <a
            href="https://github.com/gcba/ngx-obelisco"
            rel="noopener"
            target="_blank"
            >Ngx-obelisco</a
          >.
        </small>
      </p>
      <p class="mb-1">
        <small
          >Código licenciado bajo las condiciones de la licencia MIT.</small
        >
      </p>
    </div>
  </ng-container>
</o-footer>
