<o-navbar
  id="navbarFive"
  [searchbarItems]="searchbarItems"
  [routes]="routes"
  [logo]="{
    route: '/',
    src: 'assets/logo-obelisco.svg',
    alt: 'Gobierno de la Ciudad de Buenos Aires - Inicio',
    customClasses: 'logo-size',
    width: '130',
    height: '40'
  }"
></o-navbar>
<main>
  <router-outlet></router-outlet>
</main>

<o-footer>
  <ng-container *oCustomContent>
    <h2 class="sr-only">Navegación de pie de página</h2>
    <div class="container">
      <section class="footer-legal-section">
        
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-xl-4 footer-content-img">
            <img
              class="d-lg-none"
              src="https://gcba.github.io/Obelisco/footer/ciudad-ba-sm.svg"
              alt="Logo de Ciudad de Buenos Aires"
              height="48"
            />
            <img
              class="d-none d-lg-inline"
              src="https://gcba.github.io/Obelisco/footer/ciudad-ba.svg"
              alt="Logo de Ciudad de Buenos Aires"
              height="40"
            />
            <img
              class="img-vamos-ba"
              src="https://gcba.github.io/Obelisco/footer/vamos-ba.svg"
              alt="Logo de Vamos Buenos Aires"
            />
          </div>
        </div>
      </section>
      <p class="mb-1">
        <small>
          Diseñado y construido por el equipo de
          <a
            href="https://github.com/gcba/ngx-obelisco"
            rel="noopener"
            target="_blank"
            >Ngx-obelisco</a
          >.
        </small>
      </p>
      <p class="mb-1">
        <small
          >Código licenciado bajo las condiciones de la licencia MIT.</small
        >
      </p>
    </div>
  </ng-container>
</o-footer>
